.callout {
    background-color:#F6F6F6; 
    color:#121212; 
    padding:1.2em 1.6em; 
    border-radius: 1em; 
    font-size:1em
}
mark {
    padding:0.2em 0.4em; 
    border-radius:0.4em; 
    font-family:SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace; 
    font-size:0.8em
}
.green{
    background-color:#D6F6C1; 
    color:#39803E;
}
.darkgreen{
    background-color:#39803E; 
    color:#D6F6C1;
}
.blue{
    background-color:#CCEFFF; 
    color:#2568B3;
}
.yellow{
    background-color:#FFF5C7; 
    color:#A68330;
}
.brown
{
    background-color:#F7EBDC; 
    color:#7E5424;
}
.grey{
    background-color:#E5E5E5; 
    color:#6B6B6B;
}
.black{
    background-color:#6B6B6B; 
    color:#E5E5E5;
}
.purple{
    background-color:#FBFBFB; 
    color:#65458F;
}
.red{
    background-color:#FFE6E6; 
    color:#DB3335;
}
.orange{
    background-color:#FFEBE0; 
    color:#EB7A38;
}
